flows.json
[{"id":"31366e63.5ff2a2","type":"http response","z":"f9f9f7d9.2261f8","name":"response","statusCode":"","headers":{},"x":480,"y":140,"wires":[]},{"id":"9e6fc1ae.1f898","type":"function","z":"f9f9f7d9.2261f8","name":"Validate user id","func":"if (msg.req.params.id){\n    \n    msg.payload = global.get(msg.req.params.id +\"\")\n} else {\n    msg.statusCode = 404\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["31366e63.5ff2a2","7c63bcd2.6116b4"]]},{"id":"fee57e9.68ac78","type":"http in","z":"f9f9f7d9.2261f8","name":"getUser","url":"/users/:id","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["9e6fc1ae.1f898"]]},{"id":"7c63bcd2.6116b4","type":"debug","z":"f9f9f7d9.2261f8","name":"","active":true,"console":"false","complete":"true","x":470,"y":240,"wires":[]},{"id":"9b2cf62.fec6108","type":"http response","z":"f9f9f7d9.2261f8","name":"response","statusCode":"","headers":{},"x":480,"y":340,"wires":[]},{"id":"90f72032.409ea","type":"function","z":"f9f9f7d9.2261f8","name":"Validate user id","func":"if (msg.req.body){\n    global.set(msg.req.body.id + \"\", msg.req.body)\n    msg.payload = global.get(msg.req.body.id + \"\")\n    msg.statusCode = 200\n} else {\n    msg.statusCode = 500\n    msg.payload    = {\"message\" : \"you must to pass a content\"}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["9b2cf62.fec6108"]]},{"id":"2c01942e.7a900c","type":"http in","z":"f9f9f7d9.2261f8","name":"postUser","url":"/users/","method":"post","upload":false,"swaggerDoc":"","x":120,"y":340,"wires":[["90f72032.409ea","4a967f58.28ec8"]]},{"id":"4a967f58.28ec8","type":"debug","z":"f9f9f7d9.2261f8","name":"","active":true,"console":"false","complete":"true","x":270,"y":420,"wires":[]}]
